<div class="about">
    <div class="row">
        <div class="form-about box">
            <h1>中国科学院大学</h1>
            <h2>University of Chinese Academy of Sciences</h2>
            <p>中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，是国家教育部正式批准成立的一所以研究生教育为主的科教融合、独具特色的高等学校。
            环太平洋大学联盟、京港大学联盟成员高校，国务院学位办授权学位自主审核的20所高校之一。
            入选国家首批“双一流”世界一流学科建设高校。
            国科大的前身是中国科学院研究生院，成立于1978年，是经党中央国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。2014年，国科大开始招收本科生，形成了覆盖本、硕、博三个层次的高等教育体系。
            </p>
            <p>截至2017年底，中国科学院大学由京内四个校区（玉泉路、中关村、奥运村、雁栖湖）、京外五个教育基地（上海、广州、武汉、兰州、成都）和分布在全国的116个培养单位组成；
            除7个校部学院（系）外，还依托京内外高水平培养单位，相继成立了38个科教融合学院，其中京内23个，京外15个；
            研究生学科分布在哲学、经济学、法学、教育学、文学、理学、工学、农学、医学、管理学10个学科门类；
            全校有教师3000余名；在岗研究生指导教师10170名，其中两院院士283人，博士生导师6000余名；在学本科生1447名；
            在学研究生4.7万名，其中博士生占52%，博士生数量位居全国第一，理学博士生占全国三分之一；
            在学外国留学生1571人，来自91个国家，其中外国博士生1011人，外国博士生数量位居全国高校第一；
            所培养的学生有108名当选为两院院士。</p>
            <table>
                <tr>
                    <td><p><b>创办时间</b></p> </td>
                    <td><p>1978年</p> </td>
                    <td><p><b>主管部门</b></p> </td>
                    <td><p>中国科学院</p> </td>
                </tr>
                <tr>
                    <td><p><b>所属地区</b></p> </td>
                    <td><p>中国·北京</p> </td>
                    <td><p><b>类别</b></p> </td>
                    <td><p>公立大学</p> </td>
                </tr>
                <tr>
                    <td><p><b>学校类型</b></p> </td>
                    <td><p>综合</p> </td>
                    <td><p><b>知名校友</b></p> </td>
                    <td><p>谷超豪、路甬祥、白春礼、丁仲礼、张杰等</p> </td>
                </tr>
                <tr>
                    <td><p><b>属性</b></p> </td>
                    <td><p>中国科学院直属高校|(双一流)世界一流学科建设高校</p> </td>
                    <td><p><b>学校官网</b></p> </td>
                    <td><p><a href="http://www.ucas.ac.cn">http://www.ucas.ac.cn</a></p> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
