<div class="contact">
    <div class="row">
        <div class="form-contact box">
            <table class="contact-table">
                <tr>
                    <th></th>
                    <th><p>联系人</p></th>
                    <th><p>联系方式</p></th>
                </tr>
                <tr>
                    <td></td>
                    <td><p>刘云锴</p> </td>
                    <td><p><a>liuyunkai18@mails.ucas.ac.cn</a></p> </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p>巩亮琴</p> </td>
                    <td><a>gongliangqin18@mails.ucas.ac.cn</a></p> </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p>鄢明辉</p> </td>
                    <td><p><a>yanminghui18@mails.ucas.ac.cn</a></p> </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p>李畅</p> </td>
                    <td><p><a>lichang18@mails.ucas.ac.cn</a></p> </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p>王晓君</p> </td>
                    <td><p><a>wangxiaojun18@mails.ucas.ac.cn</a></p> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
